.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper{
    width: 75%;
}
.wrapper h1 {
   font-family: "Sawarabi Mincho", serif;
    font-weight: 400;
    font-size: 40px;
    color: #000;
    text-align: center;
}
.wrapper p {
    font-family: "Sawarabi Mincho", serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-align: center;
    padding-bottom: 5px;
}
.form-control {
    border-radius: 10px;
    border: 2px solid #d2d3d3;
    padding: 12px;
}

.form-control:focus {
    box-shadow: none;
}

.big-text{
    margin: 0 !important;
    padding: 0 !important;
}
.sm-text{
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 10px !important;
    padding-top: 5px !important;
}      