.btn-signup{
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #009EE2;
    color: #fff;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.btn-signup:hover{
    background-color: #133644;
    color: #E7F2F5;
}

.btn-login{
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #009EE2;
    color: #fff;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.btn-login:hover{
    background-color: #133644;
    color: #E7F2F5;
}

.btn-reset{
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #009EE2;
    color: #fff;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.btn-reset:hover{
    background-color: #133644;
    color: #E7F2F5;
}

.btn-otp{
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #009EE2;
    color: #fff;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.btn-otp:hover{
    background-color: #133644;
    color: #E7F2F5;
}