.login-page-container{
    min-width: 100%;
}
.signup-page-container{
    min-width: 100%;
}
.otp-page-container{
    min-width: 100%;
}
.forgot-password-container{
    min-width: 100%;
}
.reset-page-container{
    min-width: 100%;
}
.emailsms-container{
    min-width: 100%;
}

.back{
    background-image: url('../assets//nav\ bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.custom-link{
    color: #4a90e2;
    text-decoration: none;
    transition: color 0.3s ease;
}
.custom-link:hover {
    color: #1a5a9c;
}

.back2{
    background-image: url('../assets/bg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 540px;
}

.back3{
    background-image: url('../assets/from-back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 718px;
}

.back4{
    background-color: #08A1DC;
}
.back5{
    background-image: url('../assets/book_cover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 543px;
}
.instagram{
    padding: 40px 35px 80px 35px;
}
.back6{
    background-image: url('../assets/destination.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 543px;
}
.back7{
    background-image: url('../assets/back4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 543px;
}
