.login-page-container{
    min-width: 100%;
}
.signup-page-container{
    min-width: 100%;
}
.otp-page-container{
    min-width: 100%;
}
.forgot-password-container{
    min-width: 100%;
}
.reset-page-container{
    min-width: 100%;
}
.custom-link{
    color: #4a90e2;
    text-decoration: none;
    transition: color 0.3s ease;
}
.custom-link:hover {
    color: #1a5a9c;
}