.login-page-container{
    min-width: 100%;
}
.signup-page-container{
    min-width: 100%;
}
.otp-page-container{
    min-width: 100%;
}
.forgot-password-container{
    min-width: 100%;
}
.reset-page-container{
    min-width: 100%;
}