.travel-items {
    padding: 40px 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.data {
    width: calc(25% - 20px); /* 4 columns */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    min-height: 520px;
    box-sizing: border-box;
}

.data img {
    width: 100%;
    object-fit: cover;
}

.data h4 {
    margin-top: 18px;
    font-weight: 500;
    font-family: "Sawarabi Mincho", serif;
    font-size: 18px;
    font-weight: 400;
    color: #212121;
}

.data p {
    flex-grow: 1;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 14px;
    color: #565555;
}

.data span {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #01AEF0;
    cursor: pointer;
}

.data span:hover {
    color: #046084;
}

/* ===========================
   Large Tablet (3 cards)
=========================== */
@media (max-width: 1024px) {
    .data {
        width: calc(33.333% - 20px);
    }
}

/* ===========================
   Tablet (2 cards)
=========================== */
@media (max-width: 768px) {
    .travel-items {
        gap: 16px;
    }

    .data {
        width: calc(50% - 16px);
        min-height: auto;
    }

    .data img {
        height: 220px;
    }
}

/* ===========================
   Mobile (1 card)
=========================== */
@media (max-width: 576px) {
    .travel-items {
        padding: 20px 15px;
    }

    .data {
        width: 100%;
        padding: 15px;
    }


    .data h4 {
        font-size: 17px;
    }

    .data p {
        font-size: 14px;
        padding: 0;
    }
}