/* NAVBAR */

.custom-navbar {
  background-color: transparent !important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 14px 0;
  z-index: 1000;
}

.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.85) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

/* LOGO */
.logo-img {
  width: 120px;
  cursor: pointer;
}

/* NAV LINKS */
.nav-center .nav-link {
  color: #eae4e4 !important;
  margin: 0 14px;
  position: relative;
  font-family: "kumbh sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

/* HOVER UNDERLINE */
.nav-center .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00cfff;
  transition: 0.3s;
}

.nav-center .nav-link:hover::after {
  width: 100%;
}

/* LOGIN BUTTON (PRIMARY) */
.consult-btn {
  background: #01AEF0;
  border: none;
  padding: 8px 28px;
  border-radius: 30px;
  transition: 0.3s;
  font-family: "kumbh sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}

.consult-btn:hover {
  background: #0184b8;
}

/* SIGN UP BUTTON (SECONDARY) */
.signup-btn {
  background: transparent;
  border: 1px solid #01AEF0;
  padding: 8px 28px;
  border-radius: 30px;
  transition: 0.3s;
  font-family: "kumbh sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #01AEF0;
}

.signup-btn:hover {
  background: #01AEF0;
  color: #fff;
}

/* DROPDOWN FIX */
.navbar .dropdown-menu {
  right: 0;
}