.social-buttons{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    align-items: center;
}

.btn-social{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    padding: 18px 35px !important;
    border: none !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    background-color: #E7F2F5 !important;
}

.btn-social:hover{
    background-color: #C1D9E0 !important;
}