.social-buttons{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    align-items: center;
}

.btn-social{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #E7F2F5;
}

.btn-social:hover{
    background-color: #C1D9E0;
}