.custom-btn2 {
  cursor: pointer;
  background: #01AEF0;
  border: none;
  padding: 12px 23px;
  transition: 0.3s;
  font-family: "kumbh sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
}

.custom-btn2:hover {
  background: #0184b8;
}